<!doctype html>
<html>
    <head>
        <title>
            LIST
        </title>
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
        
        <link href="./css/reset.css"  rel="stylesheet">
        <!-- Google Web Font -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    </head>
    <body style="padding: 100px;">
        <h1><a href="/page">Board List</a></h1>
        <a href="/write"><button type="submit" class="btn btn-success" style="float:right; margin: 20px;">글쓰기</button></a>
        <a href="/logout"><button type="submit" class="btn btn-danger" style="float:right; margin: 20px;">로그아웃</button></a>
        <table class="table table-hover"> 
            <thead>
                <tr>
                    <th>번호</th>
                    <th>작성자</th>
                    <th>제목</th>
                    <th>등록일</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <%
                    for(var i = (page * page_num) - page_num; i < (page * page_num); i++) {
                    if(i > length){
                        i++;
                    }else{
                        var data = rows[i]
                %>
                    <tr>
                        <td><%= data.id %></td>
                        <td><%= data.username %></td>
                        <td><a href="/list/<%=data.id%>"><%= data.title %></a></td>
                        <td><%= data.w_date %></td>
                        <td>
                            <form method="post" action="/delete/<%=data.id%>?_method=DELETE">
                                <button id="del" type="submit" class="btn btn-danger">삭제</button>
                            </form>
                        </td>
                        <% if(session == data.displayName) { %>
                        <td style="font-size: 15px;"><a href="/edit/<%=data.id%>">수정</a></td>
                        <% } %>
                    </tr>
                    <% }
                }
                %>
            </tbody>
        </table>

        <form method="post" action="/search" class="form-inline" style="margin-top: 100px;">
            <div class="input-group" style="width: 100%;">
                <select class="form-control" name="select" style="width: 20%; float:left;">
                    <option value="title">제목</option>
                    <option value="writer">작성자</option>
                </select>
                <input type="text" name="searchText" class="form-control" style="width: 60%;">
                <button type="submit" class="btn btn-success" style="float:left; width:15%">검색하기</button>
            </div>
        </form>

        <nav aria-label="Page navigation example" style="text-align: center;">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="/page/<%= parseInt(page)-1%>">Previous</a></li>
                <% for(var j = 0; j < rows.length / page_num; j++){ %>
                <li class="page-item">
                    <a href="/page/<%= j+1%>" href="#"><%= j + 1 %></a>
                </li>
                <% } %>
                <li class="page-item"><a class="page-link" href="/page/<%= parseInt(page)+1%>">Next</a></li>
            </ul>
        </nav>
    </body>    
</html>